click==6.6
exception==0.1.0
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pluggy==0.3.1
py==1.4.31
simplejson==3.8.2
six==1.10.0
tox==2.3.1
virtualenv==15.0.2
Werkzeug==0.11.10
